.Projects {
    background: rgba(171,152,219,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; /* Set text color to white or any other contrasting color */
    text-align: center; /* Center-align text within the container */
    padding-bottom: 10%;
}

 .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10% !important;
}


.CardButton {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #efebfa, rgba(171,152,219,1)) 1;
}

